h1{
    font-family: 'Bitter', serif;
    font-size: 4rem;
    width: 25%;
    margin: 0 auto;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

p{
    font-family: "Rockwell Extra Bold","Rockwell Bold",monospace;
    font-size: 1em;
    text-align: justify;
}
