.image1{
    display: block;
    background-color: lightblue;
    padding: 20px;
    border: 10px solid red;
    width: 100px;
}

.image2{
    display: block;
    background-color: lightblue;
    padding: 20px;
    border: 10px solid red;
    width: 100px;
    margin-left: 160px;

}

.image3{
    display: block;
    background-color: lightblue;
    padding: 20px;
    border: 10px solid red;
    width: 100px;
    margin-left: 320px;
}